{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="login-overlay">
  <div class="login-container">
    <h2>Edit your account</h2>

    {% if messages %}
      <div class="form-messages">
        {% for message in messages %}
          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data" class="login-form">
      {% csrf_token %}
      {{ user_form.as_p }}
      {{ profile_form.as_p }}
      <p><input type="submit" value="Save changes"></p>
    </form>
  </div>
</div>
{% endblock %}

<!--i have added enctype="multipart/form-data" to the <form> HTML element
to enable file uploads-->